<!DOCTYPE html>
<html>
  <head>    
    <title>Class 1- Animating a Box</title>   
    <script src="{{ url_for('static', filename = 'js/aframe.min.js') }}"></script>
 </head>
 
 
<body>
  <a-scene antialias="true" class="fullscreen" inspector="" keyboard-shortcuts="" screenshot="" vr-mode-ui="">
	
    <a-box position="0 1 -4" color="blue" >
			<a-animation attribute="material.color" begin="mouseenter" from="blue" to="red" dur="0" ></a-animation>
			<a-animation attribute="material.color" begin="mouseleave" from="red" to="blue" dur="0" ></a-animation>
	</a-box>
    <a-camera><a-cursor></a-cursor></a-camera>
	
  </a-scene>
</body>
</html>
